<template>
  <br-plot-drawer :visible="$route.meta.addPlot === true" @save="onSave">
    <template slot="title">
      <a-icon type="bar-chart"/>
      Nuevo gráfico
    </template>
    <template slot="form">
      <br-plot-settings @change="onChange"/>
    </template>
    <template slot="preview">
      Preview
    </template>
  </br-plot-drawer>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';
</style>

<script>
import { mapActions } from 'vuex'
import { isEmpty as isEmptyObj } from '@/_utils/object'
import { uuid4 } from '@/_utils/uuid'

import Drawer from './Drawer'
import Settings from './Settings'

export default {
  name: 'br-plot-add',
  components: {
    [Drawer.name]: Drawer,
    [Settings.name]: Settings
  },
  data () {
    return {
      formData: {}
    }
  },
  methods: {
    ...mapActions('plot', {
      savePlot: 'saveObject'
    }),
    onChange (data) {
      this.formData = { ...data }
    },
    onSave () {
      const data = { ...this.formData }

      if (!isEmptyObj(data)) {
        data.id = uuid4()
        this.savePlot({ plot: data })
      }
    }
  }
}
</script>
