<template>
  <a-drawer
    :closable="true"
    :visible="visible"
    wrapClassName="br-plot-drawer"
    width="100%"
    placement="right"
    @close="onClose">
    <template v-if="this.$slots.title" slot="title">
      <slot name="title"/>
    </template>
    <div class="br-plot-drawer-content">
      <a-tabs defaultActiveKey="1">
        <a-tab-pane key="1">
          <template slot="tab">Ajustes</template>
          <div class="br-plot-tab-wrapper">
            <slot name="form"/>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2" >
          <template slot="tab">Vista previa</template>
          <div class="br-plot-tab-wrapper">
            <slot name="preview"/>
          </div>
        </a-tab-pane>
      </a-tabs>
    </div>
    <div class="br-plot-drawer-footer">
      <a-button @click="onDiscard" :style="{marginRight: '8px'}">
        Descartar
      </a-button>
      <a-button @click="onSave" type="primary">
        Guardar
      </a-button>
    </div>
  </a-drawer>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-plot-drawer {
  .br-plot-tab-wrapper {
    padding: 16px 24px;
  }
  .br-plot-drawer-content {
    height: calc(100% - 65px);
  }
  .br-plot-drawer-footer {
    border-top: 1px solid #e9e9e9;
    padding: 16px 24px;
    background: #fff;
    text-align: right;
  }
  .ant-drawer-wrapper-body,
  .ant-drawer-content-wrapper {
    width: 100%;
    max-width: 900px;
  }
  .ant-drawer-body {
    padding: 0;
    height: calc(100% - 55px);
  }
  .ant-tabs {
    height: 100%;
  }
  .ant-tabs-bar {
    margin: 0;
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 16px 24px;
  }
  .ant-tabs-content {
    height: calc(100% - 55px);
  }
  .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
  .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
    overflow: auto;
  }
}
</style>

<script>
import { Drawer, Tabs } from 'ant-design-vue'

export default {
  name: 'br-plot-drawer',
  components: {
    [Drawer.name]: Drawer,
    [Tabs.name]: Tabs,
    [Tabs.TabPane.name]: Tabs.TabPane
  },
  props: [
    'visible'
  ],
  methods: {
    onDiscard () {
      this.$emit('discard')
      this.$router.go(-1)
    },
    onClose () {
      this.$emit('close')
      this.$router.go(-1)
    },
    onSave () {
      this.$emit('save')
      this.$router.go(-1)
    }
  }
}
</script>
