<template>
  <br-plot-drawer :visible="$route.meta.editPlot === true" @save="onSave">
    <template slot="title">
      <a-icon type="bar-chart"/>
      Editar gráfico
    </template>
    <template slot="form">
      <br-plot-settings :plot="plot"/>
    </template>
    <template slot="preview">
      <br-plot-preview :plot="plot"/>
    </template>
  </br-plot-drawer>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import { copy as copyObj } from '@/_utils/object'

import Drawer from './Drawer'
import Settings from './Settings'
import Preview from './Preview'

export default {
  name: 'br-plot-edit',
  components: {
    [Drawer.name]: Drawer,
    [Settings.name]: Settings,
    [Preview.name]: Preview
  },
  data () {
    return {
      plot: {}
    }
  },
  computed: {
    ...mapGetters('plot', {
      getPlot: 'getObject'
    })
  },
  watch: {
    $route: {
      deep: true,
      handler (val, oldVal) {
        this.setupPlot(val)
      }
    }
  },
  methods: {
    ...mapActions('plot', {
      savePlot: 'saveObject'
    }),
    setupPlot (val) {
      if (val.params && val.params.id) {
        this.plot = copyObj(this.getPlot(val.params.id))
      }
    },
    onSave () {
      const { plot } = this
      this.savePlot({ plot })
    }
  },
  created () {
    if (this.$route.params && this.$route.params.id) {
      this.setupPlot(this.$route)
    }
  }
}
</script>
