<template>
  <div v-if="plot" class="br-plot-header">
    <h3 class="br-plot-header-title">
      {{ plot.meta.title }}
    </h3>
    <br-plot-menu :style="{ position: 'absolute', top: 0, right: 0 }" :plotId="plot.id"/>
  </div>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-plot-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2 * @size-unit;
  position: relative;

  .br-plot-header-title {
    margin-bottom: 0;
    flex: 1 1 auto;
  }
}
</style>

<script>
import Menu from './Menu'

export default {
  name: 'br-plot-header',
  components: {
    [Menu.name]: Menu
  },
  props: [
    'plot'
  ],
  data () {
    return {}
  }
}
</script>
