<template>
  <a-dropdown placement="bottomRight">
    <a class="ant-dropdown-link" href="javascript:;">
      <a-icon type="ellipsis" :rotate="90"/>
    </a>
    <a-menu slot="overlay">
      <a-menu-item @click="goToPlotEdit">
        <a-icon type="line-chart" />
        Editar
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</template>

<script>
import { Dropdown, Menu } from 'ant-design-vue'

export default {
  name: 'br-plot-menu',
  components: {
    [Dropdown.name]: Dropdown,
    [Menu.name]: Menu,
    [Menu.Item.name]: Menu.Item,
    [Menu.Divider.name]: Menu.Divider
  },
  props: [
    'plotId'
  ],
  data () {
    return {
      visible: false
    }
  },
  methods: {
    goToPlotEdit () {
      this.$router.push({ name: 'plot-edit', params: { id: this.plotId } })
    }
  }
}
</script>
