<template>
  <a-col
    v-if="plot"
    :xs="plot.layout.xs || 24"
    :sm="plot.layout.sm || 24"
    :md="plot.layout.md || 24"
    :lg="plot.layout.lg || 24"
    :xl="plot.layout.xl || 24"
    :xxl="plot.layout.xxl || 24"
    class="br-plot">
    <div class="br-plot-content">
      <br-plot-header :plot="plot"/>
      <p v-if="plot.meta.description" class="br-plot-description">
        {{ plot.meta.description }}
      </p>
      <div class="br-plot-canvas">
        <div>{{ plot.graph }}</div>
        <div>{{ rawData }}</div>
      </div>
    </div>
  </a-col>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-plot {
  .br-plot-description {
    padding: 0;
    margin: 0 0 2 * @size-unit 0;
  }

  .br-plot-content {
    border-radius: 0.5 * @size-unit;
    border: 1px solid hsv(0, 0, 91%);
    margin: 0 0 16px 0;
    padding: 2 * @size-unit;
  }

  .br-plot-canvas {
    height: 400px;
    overflow: auto;
  }
}
</style>

<script>
import { mapState, mapGetters } from 'vuex'
import { copy as copyObj } from '@/_utils/object'
import { process as processData } from './_processing'
import { jsonDataset } from './_dataset'

import Header from './Header'

export default {
  name: 'br-plot',
  components: {
    [Header.name]: Header
  },
  props: [
    'plot'
  ],
  data () {
    return {
      rawData: {
        x: null,
        y: null
      }
    }
  },
  computed: {
    ...mapState('dataset', {
      datasetList: 'objectList'
    }),
    ...mapGetters('dataset', {
      getDataset: 'getObject'
    }),
    processedData () {
      if (this.plot && this.plot.graph) {
        return processData(this.plot.graph)
      }
      return null
    }
  },
  watch: {
    plot (val, oldVal) {
      if (val && val.graph) {
        this.fetchData()
      }
    }
  },
  methods: {
    fetchData () {
      if (this.plot && this.plot.graph) {
        if (this.plot.graph.x.dataset) {
          const obj = this.getDataset(this.plot.graph.x.dataset)
          fetch(obj.url)
            .then(response => response.text())
            .then((text) => {
              this.rawData.x = copyObj(jsonDataset(text))
              if (this.plot.graph.x.dataset === this.plot.graph.y.dataset) {
                this.rawData.y = copyObj(this.rawData.x)
              }
            })
        }
        if (this.plot.graph.y.dataset) {
          if (this.plot.graph.x.dataset !== this.plot.graph.y.dataset) {
            const obj = this.getDataset(this.plot.graph.y.dataset)
            fetch(obj.url)
              .then(response => response.text())
              .then((text) => {
                this.rawData.y = jsonDataset(text)
              })
          }
        }
      }
    }
  },
  created () {
    this.fetchData()
  }
}
</script>
