<template>
  <div>
    <div>PREVIEW</div>
    <div>{{ plot }}</div>
  </div>
</template>

<style lang="less">

</style>

<script>
export default {
  name: 'br-plot-preview',
  props: [
    'plot'
  ]
}
</script>
