<template>
  <a-form layout="vertical">
    <!---- Layout ------------------------------------------------------------->
    <a-form-item :style="{ margin: '0px' }">
      <strong slot="label">Detalles</strong>
    </a-form-item>

    <!---- Title -------------------------------------------------------------->
    <a-form-item>
      <small slot="label">Título</small>
      <a-input
        v-model="plot.meta.title"
        placeholder="Título"/>
    </a-form-item>

    <!---- Description -------------------------------------------------------->
    <a-form-item>
      <small slot="label">Descripción</small>
      <a-textarea
        v-model="plot.meta.description"
        :autosize="{ minRows: 2, maxRows: 6 }"
        placeholder="Descripción"/>
    </a-form-item>

    <!---- Layout ------------------------------------------------------------->
    <a-divider :style="{ width: 'calc(100% + 48px)', margin: '24px -24px'}"/>
    <a-form-item :style="{ margin: '0px' }">
      <strong slot="label">Tamaño según ancho de pantalla</strong>
    </a-form-item>

    <a-row :gutter="24">
      <!---- XS --------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Muy pequeño</small>
          <a-input-number
            v-model="plot.layout.xs"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="xs"/>
        </a-form-item>
      </a-col>
      <!---- SM --------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Pequeño</small>
          <a-input-number
            v-model="plot.layout.sm"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="sm"/>
        </a-form-item>
      </a-col>
      <!---- MD --------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Mediano</small>
          <a-input-number
            v-model="plot.layout.md"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="md"/>
        </a-form-item>
      </a-col>
      <!---- LG --------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Grande</small>
          <a-input-number
            v-model="plot.layout.lg"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="lg"/>
        </a-form-item>
      </a-col>
      <!---- XL --------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Muy grande</small>
          <a-input-number
            v-model="plot.layout.xl"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="xl"/>
        </a-form-item>
      </a-col>
      <!---- XXL -------------------------------------------------------------->
      <a-col :xs="12" :sm="8" :md="4">
        <a-form-item>
          <small slot="label">Extra grande</small>
          <a-input-number
            v-model="plot.layout.xxl"
            :min="1"
            :max="24"
            :style="{width: '100%'}"
            placeholder="xxl"/>
        </a-form-item>
      </a-col>
    </a-row>

    <!---- Plot ------------------------------------------------------------->
    <a-divider :style="{ width: 'calc(100% + 48px)', margin: '0 -24px 24px'}"/>
    <a-form-item :style="{ margin: '0px' }">
      <strong slot="label">Gráfico</strong>
    </a-form-item>

    <!---- Plot type ---------------------------------------------------------->
    <a-form-item>
      <small slot="label">Tipo de gráfico</small>
      <a-select
        v-model="plot.graph.type"
        placeholder="Seleciona un tipo de gráfico">
        <a-select-option v-for="type in types" :value="type.id" :key="type.id">
          {{ type.label }}
        </a-select-option>
      </a-select>
    </a-form-item>

    <a-row :gutter="24">
      <!---- X Axis ----------------------------------------------------------->
      <a-col :xs="24" :sm="12">
        <a-form-item :style="{ margin: '0px' }">
          <strong slot="label">Eje Y</strong>
        </a-form-item>

        <!---- Dataset -------------------------------------------------------->
        <a-form-item>
          <small slot="label">Fuente de datos</small>
          <a-select
            v-model="plot.graph.y.dataset"
            placeholder="Seleciona una fuente de datos"
            @change="hanldeChangeDataset($event, 'y')">
            <a-select-option v-for="dataset in datasetList" :value="dataset.id" :key="dataset.id">
              {{ dataset.name }}
            </a-select-option>
          </a-select>
        </a-form-item>

        <!---- Attribute ------------------------------------------------------>
        <a-form-item>
          <small slot="label">Atributo</small>
          <a-select
            v-model="plot.graph.y.attribute"
            placeholder="Seleciona un atributo">
            <a-select-option v-for="attribute in attributeList.y" :value="attribute" :key="attribute">
              {{ attribute }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <!---- X Axis --------------------------------------------------------->
        <a-form-item :style="{ margin: '0px' }">
          <strong slot="label">Eje X</strong>
        </a-form-item>

        <!---- Dataset -------------------------------------------------------->
        <a-form-item>
          <small slot="label">Fuente de datos</small>
          <a-select
            v-model="plot.graph.x.dataset"
            placeholder="Seleciona una fuente de datos"
            @change="hanldeChangeDataset($event, 'x')">
            <a-select-option v-for="dataset in datasetList" :value="dataset.id" :key="dataset.id">
              {{ dataset.name }}
            </a-select-option>
          </a-select>
        </a-form-item>

        <!---- Attribute ------------------------------------------------------>
        <a-form-item>
          <small slot="label">Atributo</small>
          <a-select
            v-model="plot.graph.y.attribute"
            placeholder="Seleciona un atributo">
            <a-select-option v-for="attribute in attributeList.x" :value="attribute" :key="attribute">
              {{ attribute }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-col>

      <a-col :span="24">
        <a-form-item :style="{ margin: '0px' }">
          <strong slot="label">Relacion X-Y</strong>
        </a-form-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <!---- Attribute ------------------------------------------------------>
        <a-form-item>
          <small slot="label">Campo en Y</small>
          <a-select
            v-model="plot.graph.link.yAttribute"
            placeholder="Seleciona un atributo">
            <a-select-option v-for="attribute in attributeList.y" :value="attribute" :key="attribute">
              {{ attribute }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-col>

      <a-col :xs="24" :sm="12">
        <!---- Attribute ------------------------------------------------------>
        <a-form-item>
          <small slot="label">Campo en X</small>
          <a-select
            v-model="plot.graph.link.xAttribute"
            placeholder="Seleciona un atributo">
            <a-select-option v-for="attribute in attributeList.x" :value="attribute" :key="attribute">
              {{ attribute }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-col>

    </a-row>
  </a-form>
</template>

<style lang="less">

</style>

<script>
import { mapState } from 'vuex'
import { OPERATORS } from './_operators'
import { TYPES } from './_types'

export default {
  name: 'br-plot-settings',
  props: [
    'plot'
  ],
  data () {
    return {
      operators: OPERATORS,
      types: TYPES,
      attributeList: {
        x: [],
        y: []
      }
    }
  },
  computed: {
    ...mapState('dataset', {
      datasetList: 'objectList'
    })
  },
  methods: {
    hanldeChangeDataset (value, axis) {
      const dataset = this.datasetList.find(item => item.id === value)
      if (dataset && dataset.headers) {
        this.attributeList[axis] = dataset.headers
      }
    }
  }
}
</script>
