<template>
  <br-view class="home">
    <br-dashboard-header />
    <br-dashboard-drawer />
    <br-plot-grid v-if="plotList && plotList.length > 0">
      <br-plot v-for="plot in plotList" :key="`plot-${plot.id}`" :plot="plot" />
    </br-plot-grid>
    <br-plot-add />
    <br-plot-edit />
  </br-view>
</template>

<script>
import { mapState } from 'vuex'
import Dashboard from '@/components/Dashboard'
import Plot from '@/components/Plot'

export default {
  name: 'Home',
  components: {
    [Dashboard.Header.name]: Dashboard.Header,
    [Dashboard.Drawer.name]: Dashboard.Drawer,
    [Plot.Edit.name]: Plot.Edit,
    [Plot.Add.name]: Plot.Add
  },
  computed: {
    ...mapState('plot', {
      plotList: 'objectList'
    })
  }
}
</script>
