<template>
  <a-layout-content class="br-content">
    <slot/>
  </a-layout-content>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-content {
  margin-top: 64px;
  padding: 64px 24px 24px 24px;
  z-index: 0;
}
</style>

<script>
import { Layout } from 'ant-design-vue'

export default {
  name: 'br-content',
  components: {
    'a-layout-content': Layout.Content
  }
}
</script>
