<template>
  <a-layout-footer class="br-footer">
    Developed with <a-icon type="heart" theme="twoTone" twoToneColor="red"/> by
    <a href="http://github.com/zodiacfireworks" target="_blank" rel="noopener noreferrer">zodiacfireworks</a>
  </a-layout-footer>
</template>

<style lang="less">
.br-footer {
  text-align: center;
}
</style>

<script>
import { Layout } from 'ant-design-vue'

export default {
  name: 'br-footer',
  components: {
    'a-layout-footer': Layout.Footer
  }
}
</script>
