<template>
  <a-layout-header class="br-header">
    <span class="br-brand"><span class="br-brand-icon">Br</span><span class="br-brand-o">o</span>mine <span class="br-brand-dashboard">Dashboard</span></span>
  </a-layout-header>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-header {
  text-align: center;
  position: fixed;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 8px @shadow-color;
  height: 64px;
  line-height: 64px;
  z-index: 1;
}

.br-brand {
  color: @bromine-6;
  font-weight: 500;
  .br-brand-icon {
    display: inline-block;
    padding: 4px;
    height: 36px;
    width: 36px;
    border-radius: @size-unit;
    margin-right: -1 * @size-unit;
    border: 2px solid @bromine-6;
    background: fade(@bromine-6, 50%);
    align-self: center;
    line-height: 32px;
    color: @white;
    font-size: 20px;
  }
  .br-brand-o {
    color: @black;
  }
  .br-brand-dashboard {
    font-weight: 200;
    color: @black;
  }
}
</style>

<script>
import { Layout } from 'ant-design-vue'

export default {
  name: 'br-header',
  components: {
    'a-layout-header': Layout.Header
  }
}
</script>
