<template>
  <div class="br-prompt">
    SoftButterfly
  </div>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-prompt {
  background: @grey-9;
  color: @grey-1;
  padding: @size-unit;
  border-radius: @size-unit;
  margin-bottom: 3 * @size-unit;
  font-family: @font-family-code;
  width: 100%;
}
</style>

<script>
export default {
  name: 'br-prompt'
}
</script>
