@import "~ant-design-vue/lib/style/color/colorPalette";
@import "~ant-design-vue/lib/style/color/colors";

/**
 * White
 */
@white-list: #ffffff;

@white: extract(@white-list, 1);

/**
 * Black
 */
@black-list: #000000;

@black: extract(@black-list, 1);

/**
 * Transparent
 */
@transparent-list: transparent;
@transparent: extract(@transparent-list, 1);

/**
 * Gray Scale Correction
 */
@grey-1: #ffffff;
@grey-2: #fafafa;
@grey-3: #f5f5f5;
@grey-4: #e8e8e8;
@grey-5: #d9d9d9;
@grey-6: #bfbfbf;
@grey-7: #8c8c8c;
@grey-8: #595959;
@grey-9: #262626;
@grey-10: #000000;

/**
 * Orange bromine
 */
@bromine-1: color(~`colorPalette("@{bromine-6}", 1) `);
@bromine-2: color(~`colorPalette("@{bromine-6}", 2) `);
@bromine-3: color(~`colorPalette("@{bromine-6}", 3) `);
@bromine-4: color(~`colorPalette("@{bromine-6}", 4) `);
@bromine-5: color(~`colorPalette("@{bromine-6}", 5) `);
@bromine-6: #ff6f00;
@bromine-7: color(~`colorPalette("@{bromine-6}", 7) `);
@bromine-8: color(~`colorPalette("@{bromine-6}", 8) `);
@bromine-9: color(~`colorPalette("@{bromine-6}", 9) `);
@bromine-10: color(~`colorPalette("@{bromine-6}", 10) `);

@orange-bromine: @bromine-6;

/**
 * UI Colors
 */
@shadow-default: @grey-6;
@shadow-color: @grey-6; // rgba(0, 0, 0, .15);
