@import "./_color";

@class-prefix: br;
@size-unit: 8px;

@font-scale-factor: 1.25;
@font-size-base: 2 * @size-unit;
@font-size-base-small: 0.875 * @font-size-base;

@font-family: "Fira Sans", "Roboto", sans-serif;
@font-family-code: "Fira Code", "Roboto Mono", monospace;
