<template>
  <a-drawer
    :closable="true"
    :visible="$route.meta.showDashboardDrawer === true"
    wrapClassName="br-drawer"
    width="100%"
    placement="right"
    @close="onClose">
    <template slot="title">
      <a-icon type="setting"/>
      Configuración
    </template>
    <br-dashboard-settings/>
  </a-drawer>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-drawer {
  .ant-drawer-wrapper-body,
  .ant-drawer-content-wrapper {
    width: 100%;
    max-width: 360px;
  }
}
</style>

<script>
import { Drawer } from 'ant-design-vue'
import Settings from './Settings'

export default {
  name: 'br-dashboard-drawer',
  components: {
    [Drawer.name]: Drawer,
    [Settings.name]: Settings
  },
  methods: {
    onClose () {
      this.$router.go(-1)
    }
  }
}
</script>
