<template>
  <div class="br-dashboard-header">
    <h1 class="br-dashboard-header-title">
      {{ title || defaultTitle }}
    </h1>
    <br-dashboard-menu :style="{ position: 'absolute', top: 0, right: 0 }"/>
  </div>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2 * @size-unit;
  position: relative;
  z-index: 1;

  .br-dashboard-header-title {
    margin-bottom: 0;
    flex: 1 1 auto;
  }
}
</style>

<script>
import { mapState } from 'vuex'

import Menu from './Menu'

export default {
  name: 'br-dashboard-header',
  components: {
    [Menu.name]: Menu
  },
  data () {
    return {
      visible: false
    }
  },
  computed: {
    ...mapState('dashboard', {
      title: 'title',
      defaultTitle: 'defaultTitle'
    })
  }
}
</script>
