<template>
  <a-dropdown placement="bottomRight">
    <a class="ant-dropdown-link" href="javascript:;">
      <a-icon type="ellipsis" :rotate="90"/>
    </a>
    <a-menu slot="overlay">
      <a-menu-item @click="goToPlotAdd">
        <a-icon type="line-chart" />
        Nuevo gráfico
      </a-menu-item>
      <a-menu-divider />
      <a-menu-item @click="goToSettings">
        <a-icon type="setting" />
        Ajustes
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</template>

<script>
import { Dropdown, Menu } from 'ant-design-vue'

export default {
  name: 'br-dashboard-menu',
  components: {
    [Dropdown.name]: Dropdown,
    [Menu.name]: Menu,
    [Menu.Item.name]: Menu.Item,
    [Menu.Divider.name]: Menu.Divider
  },
  data () {
    return {
      visible: false
    }
  },
  methods: {
    goToSettings () {
      this.$router.push({ name: 'settings' })
    },
    goToPlotAdd () {
      this.$router.push({ name: 'plot-add' })
    }
  }
}
</script>
