<template>
  <a-row class="br-dashboard-settings">
    <a-col :span="24">
      <label class="br-label"><small>Título</small></label>
      <a-input :placeholder="defaultTitle" :value="title" @input="changeTitle" @pressEnter="changeTitle" size="large" :disabled="!isTitleEditable">
        <a-button v-if="!isTitleEditable" slot="addonAfter" type="link" @click="makeTitleEditable">
          <a-icon type="edit"/>
        </a-button>

        <a-button v-else slot="addonAfter" type="link" @click="makeTitleReadOnly">
          <a-icon type="check" />
        </a-button>
      </a-input>

      <a-divider/>
    </a-col>
    <a-col :span="24">
      <label class="br-label"><small>Gráficos</small></label>
      <a-button type="dashed" color="blue" block @click="goToPlotAdd">
        <a-icon type="plus"/>
        Nuevo
      </a-button>
    </a-col>
  </a-row>
</template>

<style lang="less">
@import '~components/_styles/themes/bromine';

.br-dashboard-settings {
  .br-label {
    display: inline-block;
    margin-bottom: @size-unit;
  }

  .ant-input-disabled {
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 1px solid transparent;
    & ~ .ant-input-group-addon:last-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 1px solid #d9d9d9;
    }
  }

  .ant-input-group-addon {
    padding: 0;
  }

}
</style>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'br-dashboard-settings',
  props: {
  },
  data () {
    return {
      innerTitle: this.title,
      isTitleEditable: false
    }
  },
  computed: {
    ...mapState('dashboard', {
      title: 'title',
      defaultTitle: 'defaultTitle'
    })
  },
  methods: {
    ...mapActions('dashboard', {
      setTitle: 'setTitle'
    }),
    changeTitle (event) {
      this.setTitle({ title: event.target.value })
    },
    makeTitleEditable () {
      this.isTitleEditable = true
    },
    makeTitleReadOnly () {
      this.isTitleEditable = false
    },
    goToPlotAdd () {
      this.$router.push({ name: 'plot-add' })
    }
  }
}
</script>
