@page: ~"@{class-prefix}-page";
@pageWrapper: ~"@{page}-wrapper";

.@{pageWrapper} {
  height: 100vh;
  width: 100% !important;
  // overflow: hidden;

  > .@{page} {
    min-height: 100%;
    width: 100%;
    // overflow: hidden;
  }
}
