<template>
  <a-locale-provider :locale="es_ES">
    <a-layout id="app" class="br-page">
      <br-header />
      <br-content>
        <router-view/>
      </br-content>
      <br-footer />
    </a-layout>
  </a-locale-provider>
</template>

<script>
import { LocaleProvider, Layout } from 'ant-design-vue'

// eslint-disable-next-line camelcase
import es_ES from 'ant-design-vue/lib/locale-provider/es_ES'
import moment from 'moment'
import 'moment/locale/fr'

import BrHeader from '@/components/Header'
import BrFooter from '@/components/Footer'
import BrContent from '@/components/Content'

moment.locale('fr')

export default {
  components: {
    [LocaleProvider.name]: LocaleProvider,
    [Layout.name]: Layout,

    [BrHeader.name]: BrHeader,
    [BrContent.name]: BrContent,
    [BrFooter.name]: BrFooter
  },
  data () {
    return {
      es_ES
    }
  }
}
</script>
