/**
 * Typography mixins
 */
.font-size-in-rem(@n: 1) {
  @font-size-number: pow(@font-scale-factor, @n);
  font-size: ~"@{font-size-number}rem";
}

.font-size-in-px(@n: 1, @base: @font-size-base) {
  @font-size-number: @base * pow(@font-scale-factor, @n);
  font-size: ~"@{font-size-number}px";
}

.font-size-in-percentage(@n: 1) {
  @font-size-number: 100 * pow(@font-scale-factor, @n);
  font-size: ~"@{font-size-number}%";
}
